<%- include('header'), {seoDetails,categorylist, pathPart} %>

<main id="main-contact">

  
    <div class="contactpage">
        <div class="contact-image">
            <img src="/assets/imgs/contact.png" alt="image">
        </div>
            <div class="form-container">
                <h6><i class="flaticon-roof"></i>GET IN TOUCH</h6>
                <h2>Any questions or requests for us?</h2>
                <p>Feel free to share, and we'll be happy to assist you.</p>
                <form id="contactForm" action="/submit-contact">
                    <div class="form-group">
                        <label for="name"><i class="fa-solid fa-user"></i>Name</label>
                        <input type="text" id="name" name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name %>" required>
                    </div>
                    <div class="form-group">
                        <label for="phone"><i class="fa-solid fa-phone"></i>Contact No.</label>
                        <input type="text" id="phone" name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone %>" required>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="fa-solid fa-envelope"></i>Email</label>
                        <input type="email" id="email" name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email %>" required>
                    </div>
                    <div class="form-group">
                        <label for="address"><i class="fa-solid fa-location-dot"></i>City/Address</label>
                        <textarea id="address" name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.address %>" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message"><i class="fa-solid fa-message"></i>Message</label>
                        <textarea id="remarks" name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks %>" required></textarea>
                    </div>
                    <div class="form-group" style="display: none;" >
                        <input type="hidden" id="websiteProjectId" name="websiteProjectId" value="66e2db81cb3d9f4f044cfc54">
                    </div>

                    <div class="g-recaptcha" data-sitekey="6LddcpEqAAAAAHphoB_Wk6RcBSUvLIckyp4EtLfi"></div>
                    <div class="button-container">
                        <button type="submit" class="swipe-gradient-button" id="contact-submit"><span>Send a message<i class="flaticon-login" style="color: white;"></i></span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="info-box">
            <div class="col-lg-4 col-md-6 col-sm-12 linkbox">
                <h3>Main Office</h3>
             <div class="box">
                     <i class="fa-solid fa-map-location-dot" style="margin-bottom: 68px;" ></i>
                    <p>2, B.R.B. Basu Road (Old Canning Street) Room No. 43 & 52, 5th Floor Opp. Chopra House, Kolkata 700001</p>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 linkbox">
                <h3>Make a Call</h3>
            <div class="box">
                
                <i class="fa-solid fa-phone-volume"></i>
                    <p><a href="tel:9903257867" >+91 99032 57867</a></p>
            
            </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 linkbox">
                <h3>Send a Mail</h3>
            <div class="box">
                
                <i class="fa-solid fa-envelope-open-text"></i>
                    <p ><a href="mailto:info@pareekcolours.com">info@pareekcolours.com</a></p>
        
            </div>
            </div>
        </div>
        
        <section class="google-map-section style-two">
            <div class="auto-container">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230.25184286221952!2d88.35039753438117!3d22.578000496297225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0277bafd6a2f6d%3A0x9093747d6c84896e!2sChopra%20House%2C%20Canning%20St%2C%20China%20Bazar%2C%20Kolkata%2C%20West%20Bengal%20700001!5e0!3m2!1sen!2sin!4v1694791962097!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </div>
        </section>
        
        </main>
      
        <script>
           
           document.getElementById('contactForm').addEventListener('submit', async function (e) {
           
    

         
            

           e.preventDefault();  // Prevent the default form submission
                 try {
                    event.preventDefault();
                    const API_BASE_URL= "<%= API_BASE_URL %>";
                    // const { getWebsiteID, fetchData } = require('../utils/helper');
                     const websiteID = "<%= websiteID %>";
                    const WEBSITEIDKEY = "<%= WEBSITE_ID_KEY %>";
                     // const CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS = <%= JSON.stringify(CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS) %>;
                     const CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS = <%- JSON.stringify(CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS) %>;
                 
                     const CREATE_CONTACT_ENQUIRY_END_POINT = `${API_BASE_URL}/website/contact-enquiry/create-contact-enquiry`;
                     // console.log("CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS=", CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.EMAIL);
                     //const CREATE_CAREER_ENQUIRY_END_POINT = `${API_BASE_URL}/website/career-enquiry/create-career-enquiry`; 
                    const contactForm = event.target; 
                    const WEBSITE_ID_KEY = WEBSITEIDKEY;


                    
                 

                    //--------------------------------------------------------------------------------------------------------------------------------------
                    const payload = {
                        [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name]: contactForm.querySelector(
                            `input[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name}"]`
                        ).value,
                        [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone]:
                            contactForm.querySelector(
                                `input[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone}"]`
                            ).value,
                        [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email]: contactForm.querySelector(
                            `input[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email}"]`
                        ).value,
                        [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.address]: contactForm.querySelector(
                            `textarea[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.address}"]`
                        ).value, 
                        [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks]: contactForm.querySelector(
                            `textarea[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks}"]`
                        ).value, 
                        [WEBSITE_ID_KEY]: websiteID,
                        captchaResponse: captchaResponse, 
                    };
        
                    const headers = new Headers({
                        "Content-Type": "application/json",
                    }); 
                    const response = await fetch(CREATE_CONTACT_ENQUIRY_END_POINT, {
                        method: "POST",
                        headers,
                        body: JSON.stringify(payload),
                    });
        
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
        
                    const data = await response.json();
        
                    alert("Form submitted successfully!");
                    
                    contactForm.reset();
                   
                 } catch (error) {
                   alert("Form not submitted!"); 
        
                   console.error("Form submission error", error);
                 } 
            // }
            });
        
        </script>

        <%- include('footer') %>