<%- include('header'), {seoDetails,categorylist, pathPart} %>

<main id="product-enq">
<h2 id="enq-head">Enquire for products</h2>
<div class="contactpage">
    <div class="dealership-container">
        <form id="productForm">
           
            <div class="deal-group">
                <i class="fa-solid fa-user"></i>
                <input type="text" id="producttype" placeholder="Product name" name="<%= PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.enquiryType %>" class="enq-input" value="<%=  productdetails.title  %>" readonly>
            </div>
            <div class="deal-group">
                <i class="fa-solid fa-user"></i>
                <input type="text" id="name" placeholder="Your name" name="<%= PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name %>" class="enq-input" required>
            </div>
            <div class="deal-group">
                <i class="fa-solid fa-user"></i>
                <input type="text" id="firmname" placeholder="Firm name" name="<%= PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.firmname %>" class="enq-input" required>
            </div>
            <div class="deal-group">
                <i class="fa-solid fa-headset"></i>
                <input type="text" id="phone" placeholder="Phone No." name="<%= PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone %>" class="enq-input" required>
            </div>
            <div class="deal-group">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" id="email" placeholder="Email ID" name="<%= PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email %>" class="enq-input" required>
            </div>
            <div class="deal-group ">
                <i class="fa-solid fa-location-pin"></i>
                <textarea id="enqadd" name="<%= PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.address %>" placeholder="Address" class="enq-input" required></textarea>
            </div>
            <div class="deal-group ">
                <i class="fa-solid fa-message"></i>
                <textarea id="enqmessage" name="<%= PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks %>" placeholder="Your Message" class="enq-input" style="align-items: center;"  required></textarea>
            </div>
            <div class="deal-group" style="display: none;" >
                <input type="hidden" id="websiteProjectId" name="websiteProjectId" value="66e2db81cb3d9f4f044cfc54">
            </div>

           
            <div class="button-container">
                <div class="g-recaptcha" data-sitekey="6LddcpEqAAAAAHphoB_Wk6RcBSUvLIckyp4EtLfi"></div>
                <button type="submit" class="swipe-gradient-button"><span>Submit Now<i class="flaticon-login"></i></span></button>
            </div>
        </form>
    </div>
</div>

</main>
<script>
           
    document.getElementById('productForm').addEventListener('submit', async function (e) {
     // function handleSubmit(e) {   
    e.preventDefault();  // Prevent the default form submission
          try {
             event.preventDefault();
             const API_BASE_URL= "<%= API_BASE_URL %>";
            
              const websiteID = "<%= websiteID %>";
             const WEBSITEIDKEY = "<%= WEBSITE_ID_KEY %>";
            
              const PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS = <%- JSON.stringify(PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS) %>;
          
              const CREATE_PRODUCT_ENQUIRY_END_POINT = `${API_BASE_URL}/website/product-enquiry/create-product-enquiry`;
               
             const productForm = event.target; 
             const WEBSITE_ID_KEY = WEBSITEIDKEY;
             const productid = "<%= productdetails._id %>";
             //--------------------------------------------------------------------------------------------------------------------------------------
             const payload = {
                [PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.enquiryType]: productid,
                 [PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name]: productForm.querySelector(
                     `input[name="${PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name}"]`
                 ).value,
                 [PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.firmname]: productForm.querySelector(
                     `input[name="${PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.firmname}"]`
                 ).value,
                 [PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone]:
                 productForm.querySelector(
                         `input[name="${PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone}"]`
                     ).value,
                 [PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email]: productForm.querySelector(
                     `input[name="${PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email}"]`
                 ).value,
                 [PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.address]: productForm.querySelector(
                     `textarea[name="${PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.address}"]`
                 ).value, 
                 [PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks]: productForm.querySelector(
                     `textarea[name="${PRODUCT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks}"]`
                 ).value, 
                 [WEBSITE_ID_KEY]: websiteID,
             };
 
             const headers = new Headers({
                 "Content-Type": "application/json",
             }); 
             const response = await fetch(CREATE_PRODUCT_ENQUIRY_END_POINT, {
                 method: "POST",
                 headers,
                 body: JSON.stringify(payload),
             });
 
             if (!response.ok) {
                 throw new Error(`HTTP error! Status: ${response.status}`);
             }
 
             const data = await response.json();
 
             alert("Form submitted successfully!");
 
             productForm.reset();
          } catch (error) {
            alert("Form not submitted!"); 
 
            console.error("Form submission error", error);
          } 
     });
 
 </script>

<%- include('footer') %>